<div class="pieContainer">
    <div class="pieBackground"></div>
    <div id="pie-slice-1" class="hold"><div class="pie"></div></div>
    <div id="pie-slice-2" class="hold"><div class="pie"></div></div>
    <div id="pie-slice-3" class="hold"><div class="pie"></div></div>
    <div id="pie-slice-4" class="hold"><div class="pie"></div></div>
    <div id="pie-slice-5" class="hold"><div class="pie"></div></div>
    <div id="pie-slice-6" class="hold"><div class="pie"></div></div>
</div>

<style>
.pieContainer {
    height: 250px;
    width: 250px;
    position: relative;
}

.pieBackground {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
} 

.pie {
    transition: all 1s;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    clip: rect(0px, 125px, 250px, 0px);
}

.hold {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    clip: rect(0px, 250px, 250px, 125px);
}

#pie-slice-1 .pie {
    background-color: #2ed573;
    transform:rotate(30deg);
}

#pie-slice-2 {
    transform: rotate(30deg);
}

#pie-slice-2 .pie {
    background-color: #ffa502;
    transform: rotate(60deg);
}

#pie-slice-3 {
    transform: rotate(90deg);
}

#pie-slice-3 .pie {
    background-color: #5352ed;
    transform: rotate(120deg);
}

#pie-slice-4 {
    transform: rotate(210deg);
}

#pie-slice-4 .pie {
    background-color: #ff4757;
    transform: rotate(10deg);
}

#pie-slice-5 {
    transform: rotate(220deg);
}

#pie-slice-5 .pie {
    background-color: #1e90ff;
    transform: rotate(70deg);
}

#pie-slice-6 {
    transform: rotate(290deg);
}

#pie-slice-6 .pie {
    background-color: #ff7f50;
    transform: rotate(70deg);
}
</style>